body {
    font-family: 'Poppins', sans-serif;
}

.roboto-text {
    font-family: 'Roboto', sans-serif;
}

/* nav */
.navbar {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.3s ease;
}

.navbar.scrolled {
    background-color: #000;
}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
}

.nav-link {
    color: #fff !important;
    font-weight: 500;
}

/*parallax*/
.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    color: white;
}

/* start */
.parallax-start {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.parallax-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: 0;
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.parallax-content {
    position: relative;
    z-index: 2;
}

.parallax-content h1,
.parallax-content p {
    text-shadow: 0 3px 9px rgba(0, 0, 0, 0.7);
}


/* end */
.parallax-end {
    background-image: url('bg3.png');
    height: 20vh;
}

.parallax-content-end {
    position: relative;
    z-index: 2;
}

.parallax-content-end h1,
.parallax-content-end p {
    text-shadow: 0 3px 9px rgba(0, 0, 0, 0.7);
}


/* cards */
.card {
    background-color: #b8e0d275;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card-img-top {
    height: 220px;
    object-fit: cover;
    width: 100%;
    border-radius: 8px;
    transition: transform 0.4s ease, filter 0.4s ease;
}

.card:hover .card-img-top {
    transform: scale(1.05);
    filter: brightness(90%);
}

.card-body h5,
.card-body p {
    text-align: justify;
}

@media (max-width: 991.98px) {
    .parallax {
        background-attachment: scroll;
        height: 70vh;
    }

    .parallax-content h1 {
        font-size: 1.8rem;
    }

    .parallax-content p {
        font-size: 1rem;
    }

    .parallax-content .btn {
        padding: 0.6rem 1.2rem;
        font-size: 1rem;
    }
}

html,
body {
    overflow-x: hidden !important;
    width: 100%;
}